// RESET CREDIT: https://github.com/hankchizljaw/modern-css-reset
*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    box-sizing: border-box;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    font-weight: none;
    line-height: 1;
}

body {
    height: 100%;
    font-size: 100%;
    font-family: 'Rubik', sans-serif;
    line-height: 1;
    background-color: none;     
}

p {
    line-height: 0;
}

ol,
ul {
    list-style: none;
}

a,
a:visited,
a:hover {
    text-decoration: none;
}

form {
    margin: 0;
}

button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
}

button,
input {
    line-height: normal;
}

img,
picture {
    max-width: 100%;
    display: block;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
    filter: blur(10px);
}

/* Hide element while making it readable for screen readers */
.hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

// Frontend Mentor
.attribution {
    font-size: 11px;
    text-align: center;
    background-color: rgb(76,82,178);
    padding: 5px 0;
}

.attribution a {
    color: $white;
}