//Colors
$darkGray: rgb(43, 43, 43);
$lightGray: rgba(150, 150, 150, 0.2);
$gray: rgb(150, 150, 150);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);

//Font Sizes
$small: 0.844rem; //13.5px
$reg: 1rem; //16px
$medium: 1.188rem; //19px
$large: 1.813rem; //29px


//Font Weights 
$regular: 400;
$semiBold: 500;
$bold: 700;

//Spacing
$pSmall: 2.188rem; //35px
$pLarge: 3.125rem; //50px
