//Colors


//Font Sizes
$xsmall: 0.875rem; //14px
$small: 1rem; //16px
$medium: 1.125rem; //18px
$large: 1.375rem; //22px
$xlarge: 2.2rem; //35.2px

//Font Weights 
$regular: 400;
$bold: 700;

//Spacing

